.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  box-shadow: 0 0 15px black;
}
#desBox {
  width: 20px;
}

.ant-table-cell {
  width: 200px;
}
.listIcon {
  width: 25px;
  height: 25px;
  cursor: pointer;
  color: gray;
}
button:hover{
  cursor: pointer;
}
.addnewtrans{
  border: 2px solid #ccc;
  font-size: 15px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: black;
  color: white;

}
.addnewtrans:hover{
  cursor: pointer;
  box-shadow: 2px 2px 2px rgb(95, 94, 94);
}
.chartIcon {
  width: 25px;
  height: 25px;
  cursor: pointer;
  color: gray;
}

.chartIcon.active,
.listIcon.active {
  color: black;
}
.analytics {
  width: 80px;
  display: flex;
  justify-content: space-between;
}
