
.top {
  width: 100%;
  background-color: #222833;
}
.iconlogo {
  margin-left: 650px;
}
.signuphead{
  color: white;
}
.signupbox{
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 2px solid black;
    width: 600px;
    margin-left: 450px;
    margin-top: 30px;
    background-color:#222833 ;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.inpbox{
  width: 370px;
  height: 30px;
  align-items: center;
  padding-left: 10px;
  margin-top: 10px;
  color: black;
}
.labels{
  margin: 20px;
  color: white;
}

.signin{
  color: white;
  width: 130px;
  height: 35px;
  border-radius: 20px;
  margin-top: 20px;
  background-color: #037435;
}